body{
    background-color: rgb(50, 3, 94);
}
#container{
    font-size: 2rem;
    text-align: center;
    color: aliceblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
input{
    font-size: 2rem;
    width: 150px;
}
button{
    color: aliceblue;
    background-color: rgb(33, 58, 242);
    font-size: 2rem;
    border: none;
    border-radius: 2px;
}
button:hover{
    background-color: rgb(23, 23, 87);
}
button:active{
    background-color: rgb(90, 156, 218);
}
#result img{
    width: 80px;
}
